.about {
  padding-left: 300px;
  min-height: 560px;
  background: url(../img/about_girl.png) no-repeat;
  background-position: -8px 0 ;
  color: #78909c;
  &__title-small {
    font: 1.66em/1.3 "MuseoSansBold";
    margin-bottom: 36px;
    letter-spacing: 0.3px;
  }
  &__title,
  &__skills-title {
    font: 2.5em/1.3 "MuseoSansBold";
    margin-bottom: 25px;
    color: #455a64;
    letter-spacing: 1px;
  }
  &__skills-title {
    margin-bottom: 13px;
   }
  &-text {
    font: 1.45em/1.6 "MuseoSansLight";
    color: #78909c;
    margin-bottom: 40px;
  }
  &__skills-list {
    margin-bottom: 40px;
  }
}

.skills-list__item {
  position: relative;
  display: inline-block;
  font: 1.458em/1.6 "MuseoSansLight";
  color: #78909c;
  letter-spacing: .4px;
  font-stretch: extra-expanded;
  list-style: none;
  padding-left: 10px;
  margin-left: 17px;

  &:first-child {
  margin-left: 0px;
  }

  &:nth-child(9) {
  margin-left: 0px;
  }
  &::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #b7c4ca;
  border-radius: 50%;
  top: 8px;
  left: 0;
  }
}

.price-per-hour {
  display: inline-block;
  font: 2.5em/1.3 "MuseoSansMedium";
  color: #455a64;
  margin-right: 28px;
}

.about-switch-button {
  display: inline-block;
}

.my-profile,
.hire-me {
  display: inline-block;
  font: 1.544em/1.3 "MuseoSansLight";
  letter-spacing: 1px;
  border: 2px solid #30c6a5;
  border-radius: 3px;
  padding: 9px 21px;
  text-decoration: none;
  transition: 0.5s;
}
.my-profile {
  color: #30c6a5;
  &:hover {
  color: #fff;
  background-color: #30c6a5;
  transition: 0.5s;
  border-top-right-radius: 0px;
  }
}
.hire-me {
  margin-left: -5px;
  color: #fff;
  background-color: #30c6a5;
  border-top-left-radius: 0px;
  &:hover {
  color: #30c6a5;
  background-color: #fff;
  }
}





.how-work {
  background-color: #30c6a5;
  display: flex;
  margin-bottom: 97px;
  &-inner-wrap {
    width: 50%;
  }
  &__find-out-link {
  display: block;
  position: relative;
  width: 100%;
  font: 2em/1.3 "MuseoSansRegular";
  color: #fff;
  letter-spacing: 1px;
  background-color: #1abc9c;
  padding-left: 15%;
  padding-top: 26px;
  padding-bottom: 25px;
  text-decoration: none;
  }
  &__find-out-link::before {
    position: absolute;
    content: "";
    width: 25px;
    left: 65px;
    top: 26px;
    height: 25px;
    background: url(../img/icon-sprite.png) no-repeat;
    background-position: 0 0 ;
  }
}

.how-work__description {
  position: relative;
  padding-left: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-right: 26%;

  &-title {
    font: 2.5em/1.3 "MuseoSansBold";
    color: #fff;
    letter-spacing: 1px;
    margin-top: 105px;
    margin-bottom: 22px;
  }
  &-text {
    font: 1.45em/1.7 "MuseoSansLight";
    margin-bottom: 70px;
    color: #fff;
  }
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 60%;
    right: -9px;
    background-color: #30c6a5;
    transform: rotate(45deg);
  }
}


/*.how-work-video { / адаптивность плеера?
  width: 100%;
  height: auto;
  max-height: 100%;
}*/





.featured-profiles {
  color: black;
  min-width: 730px;
  max-width: 730px;
}

.featured-profiles__heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

.profiles-heading {

  &--small-title {
    width: 100%;
    margin-bottom: 10px;
    font: 1.45em/1.7 "MuseoSansRegular";
    color: #546e7a;
  }
  &--title {
    font: 2.5em/1.3 "MuseoSansBold";
    letter-spacing: 1px;
    color: #455a64;
  }
  &--counter {
    font: 1.45em/1.7 "MuseoSansRegular";
    color: #546e7a;
  }
}

.featured-profiles-table {
  font: 1.35em/1.7 "MuseoSansRegular";
  color: #78909c;
  width: 100%;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #e0e7ee;
  border-top: none;
  padding-right: 30px;
  padding-left: 30px;

  &:first-child {
   border-top: 1px solid #e0e7ee;
  }
  &__cell {
   display: inline-block;
   padding-top: 27px;
   padding-bottom: 20px;
   align-self: center;
  }
}

.view-profile-link {
  display: inline-block;
  text-decoration: none;
  color: #30c6a5;
  border: 1px solid #30c6a5;
  border-radius: 2px;
  padding: 3px 15px;
  &:hover {
    color: #fff;
    background-color: #30c6a5;
  }
}

.cell-name {
  position: relative;
  width: 210px;
}
.photo {
  float: left;
  margin-right: 17px;
}
.name {
  display: block;
  font: 18px/1.3 "MuseoSansBold";
  color: #455a64;
  letter-spacing: 0.5px;
}
.position {
  display: block;
}





.top-teams {
  width: 230px;
  font: 1.45em/1.7 "MuseoSansLight";

  &__small-title  {
    margin-bottom: 5px;
    color: #546e7a;
  }
  &__title {
    font: 25px/1.3 "MuseoSansBold";
    color: #455a64;
    letter-spacing: 1px;
    margin-bottom: 44px;
  }
}

.top-teams__first-team,
.top-teams__second-team {
  position: relative;
  margin-bottom: 40px;
}

.first-team__poster,
.second-team__poster {
  position: relative;
  width: 230px;
  height: 223px;
  overflow: hidden;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
    &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(69, 90, 100, 0.5);
  }
}

.first-team__name,
.second-team__name {
  position: absolute;
  padding-top: 50px;
  top: 27%;
  left: 25%;
  font: 18px/1.7 "MuseoSansRegular";
  color: white;
  text-decoration: none;
  &::after {
    content: "";
    width: 48px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 23%;
    background: url(../img/icon-sprite.png) -28px -4px no-repeat;
  }
}

.second-team__name {
  position: absolute;
  padding-top: 50px;
  top: 27%;
  left: 33%;
  font: 18px/1.7 "MuseoSansRegular";
  color: white;
  text-decoration: none;
}

.second-team__name::after {
  content: "";
  width: 48px;
  height: 57px;
  position: absolute;
  top: -10px;
  left: 19%;
  background: url(../img/icon-sprite.png) -82px -3px no-repeat;
}

.first-team__image,
.second-team__image {
  position: absolute;
  top: -45%;
  left: -67%;
  transform: scale(1);
}

.second-team__image {
    position: absolute;
    top: -33%;
    left: -47%;
    transform: scale(1);
}

.first-team__caption,
.second-team__caption {
    padding: 15px 30px;
    border: 1px solid;
    border-top: none;
    border-color: #e0e7ee;
    & p {
      font: 13px/1.7 "MuseoSansMedium";
      color: #78909c;
    }
}

.full-time,
.part-time {
  margin-right: 10px;
}

.container-full--why-us {
  background: url(../img/why-us.png) 210% 55% no-repeat;
}

.why-us {
  width: 515px;
  padding-top: 90px;
  padding-bottom: 90px;
  color: #78909c;
  letter-spacing: 0.5px;
  
  &-small-title {
    font: 1.458em/1.7 "MuseoSansRegular";
  }
  &-title {
    font: 2.5em/1.7 "MuseoSansBold";
    color: #455a64;
    margin-bottom: 35px;
  }
  &-title-reason {
    font: 1.875em/1.7 "MuseoSansBold";
    color: #546e7a;
    padding-left: 35px;
  }
  &-title-reason-text {
    font: 1.458em/1.7 "MuseoSansRegular";
    margin-bottom: 35px;
    letter-spacing: 0.5px;
  }
}

.first-reason,
.second-reason,
.third-reason {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 27px;
    top: 0;
    left: 0;
    background: url(../img/icon-sprite.png) -167px -3px no-repeat;
  }
}
.second-reason {
  &::after {
    background: url(../img/icon-sprite.png) -197px -3px no-repeat;
  }
}
.third-reason {
  &::after {
    background: url(../img/icon-sprite.png) -197px -3px no-repeat;
  }
}




.feedback {
  position: relative;
  min-height: 475px;
  padding-top: 165px;
  background: url(../img/comment_bg.jpg) 47% 66% no-repeat;
  background-size: 115%;
  
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(38,50,56, .8);

  } 
}

.feedback__slider {
  position: relative;
  margin: 0 auto;
  background-color: white;
  width: 370px;
  height: 310px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 45px;
  padding-left: 40px;
  padding-bottom: 60px;
  box-shadow: inset -3px -1px 8px 0 rgba(7, 7, 7, 0.2);
  &::after {
    position: absolute;
    top: -9%;
    left: -7%;
    content: "";
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #fff url(../img/icon-quotes.png) 48% 45% no-repeat;
    box-shadow: 1px 1px 2px 1px rgba(38,50,56, .2);
  } 
}

.feedback-text {
  font: 1.458em/1.7 "MuseoSansRegular";
  letter-spacing: 0.5px;
  color: #78909c;
  margin-bottom: 23px;
}
.feedback-author {
  display: block;
  font: 1.875em/1.7 "MuseoSansRegular";
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #455a64;
  &-position {
    display: block;
    font: 1.458em/1.7 "MuseoSansMedium";
    color: #30c6a5;
    letter-spacing: 0.5px;
  }
}
